body, html {
	padding: 0;
	margin: 0;
	text-align: left;
}

#drop {
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 5px dashed #cccccc;
}

#viewer {
	color: #444444;
}

.dragging-over {
	border-color: black !important;
}

div.object, div.array, div.primitive {
	min-height: 20px;
	margin-left: 10px;
	border-radius: 4px;
}

div.object {
	border-left: 1px dotted gray;
}

div.array {
	border-left: 1px solid gray;
}

div.primitive {
}

span {
	display: inline-block;
	height: 100%;
	padding: 0 10px;
}

.clickable {
	font-style: italic;
	cursor: pointer;
	color: #000000;
}

.clickable:hover {
	background-color: #cccccc;
}

.plus, .minus {
	margin: 0 5px;
	width: 10px;
	height: 10px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0 10px;
}

td {
	padding: 2px 5px;
}

tr:nth-child(odd) {
	background: #efefef;
}