body, html {
	padding: 0;
	margin: 0;
	text-align: left;
}

#drop {
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 5px dashed #cccccc;
}

#viewer {
	color: #666666;
}

.dragging-over {
	border-color: black !important;
}

div.object, div.array, div.primitive {
	min-height: 20px;
	padding-left: 10px;
	border-left: 1px dotted gray;
	clear: both;
}

span.key {
	padding-right: 10px;
}

span.value, span.arr_element {
	padding-left: 10px;
}

.clickable {
	font-style: italic;
	cursor: pointer;
	color: #000000;
}

.clickable:hover {
	background-color: #eeeeee;
}

.plus, .minus {
	margin: 0 5px;
	width: 10px;
	height: 10px;
}